[package]
name = "randselect"
version = "0.2.4"
authors = ["Luke Hsiao <lwhsiao@stanford.edu>"]
license = "MIT"
description= "Tool for randomly selecting files from a directory."
readme = "README.md"
repository = "https://github.com/lukehsiao/randselect"
homepage = "https://github.com/lukehsiao/randselect"
documentation = "https://docs.rs/randselect"
keywords = ["randselect", "random", "directory", "files"]
categories = ["command-line-utilities"]
edition = "2018"

[dependencies]
chrono = "0.4.11"
clap = "2.33.0"
colored = "1.9.3"
fern = { version = "0.6.0", features = ["colored"] }
human-panic = "1.0.3"
log = "0.4.8"
rand = "0.7.3"
